body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow-y: hidden;
}

#upperDiv {
    font-size: 16pt;
    background-color: whitesmoke;
    padding-top: 0px;
    padding-left: 25px;
    padding-bottom: 10px;

    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

input {
    background: transparent;
    border: none;
    font-size: 20pt;

    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#colorInputArea {
    font-size: 24px;
}

#hexValue {
    width: 140px;
}

.rgbValue {
    width: 46px;
}

#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#middleDiv {
    background-color: whitesmoke;
}

hr {
    margin: 0;
}

#lowerDiv {
    padding-top: 12px;
    width: 100%;
}

#lowerDivLeft {
    width: 400px;
    height: 100%;
    float: left;
}

button {
    padding: 10px;
    margin-left: 12px;
}

#lowerDivRight {
    overflow-y: scroll;
    position: absolute;
    top: 120px;
    left: 400px;
    right: 0px;
    bottom: 0px;
}