body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow-y: hidden;
}

#upperDiv {
    font-size: 16pt;
    background-color: whitesmoke;
    padding-bottom: 10px;
    width: 100%;

    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#titleArea {
    width: 66%;
    float: left;
    padding-left: 4%;
}

#colorInputArea {
    padding-top: 15px;
    font-size: 24px;
    text-align: right;
    float: left;
    width: 30%;
}

#upperDiv input {
    background: transparent;
    border: none;
    font-size: 20pt;

    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#hexValue {
    width: 110px;
}

#rgbInputArea {
    padding-right: 26px;
}

#red {
    color: red;
}

#green {
    color: green;
    margin-left: 4px;
}

#blue {
    color: blue;
    margin-left: 4px;
}

#middleDiv {
    background-color: whitesmoke;
}

hr {
    margin: 0;
}

#lowerDiv {
    padding-top: 12px;
    width: 100%;
}

#lowerDivLeft {
    width: 400px;
    height: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

#lowerDivLeft input {
    width: 355px;
}

#lowerDivLeft button {
    padding-top: 30px;
    border: none;
}

#lowerDivRight {
    overflow-y: scroll;
    position: absolute;
    top: 120px;
    left: 400px;
    right: 0px;
    bottom: 0px;
}