body {
    margin: 0 !important;
    padding: 0 !important;
}

hr {
    margin: 0;
}

button {
    padding: 10px;
    margin-left: 12px;
}

input {
    background: transparent;
    border: none;
    color: orangered;
    font-size: 20pt;
    width: 150pt;
}

#upperDiv {
    color: orangered;
    background-color: whitesmoke;
    padding-top: 0px;
    padding-left: 12px;
    padding-bottom: 15px;
}

#hexArea {
    text-align: right;
    font-size: 24px;
}

#middleDiv {
    background-color: whitesmoke;
}

#lowerDiv {
    padding-top: 12px;
    width: 100%;
}

#lowerDivLeft {
    width: 300px;
    float: left;
}

#lowerDivRight {
    float: right;
}